@import"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap";

:root {
    --color-light: #f2f7f7;
    --color-milk: #F5EEE8;
    --color-milk-dark: #E1EDF3;
    --color-blue: #aac1c8;
    --color-blue-light: #7DA9C1;
    --color-blue-dark: #3A6982;
    --color-emph: #FFA742;
    --color-red-dark: #2D111D;
    --color-dark: #232323;
    --gradient-space: linear-gradient(219.78deg, #271B20 47.4%, #141515 84.73%);
    --text-dark: #232323;
    --text-light: #ffffff;
    --font-1: "Inter", sans-serif;
    --height-header: 150px;
    --height-footer: 150px
}

* {
    box-sizing: border-box
}

html,
body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden
}

body {
    font-family: var(--font-1);
    margin: 0
}

.text-shadow {
    text-shadow: .1em .01em 0px var(--color-blue)
}

.-mobile {
    display: none
}

@media (max-width: 770px) {
    .-not-mobile {
        display: none
    }

    .-mobile {
        display: inherit
    }
}

.outer-space-svg path {
    background: var(--gradient-space)
}

header:where(.astro-RJKVWZSG) {
    position: relative;
    width: 100%;
    color: var(--text-dark);
    box-sizing: border-box;
    background-color: var(--color-milk);
    padding: 2em 0 2em 15%;
    filter: drop-shadow(2px 5px 1px rgba(0, 0, 0, .062745098));
    z-index: 10
}

@media (max-width: 770px) {
    header:where(.astro-RJKVWZSG) {
        padding-left: 0
    }
}

header:where(.astro-RJKVWZSG) h1:where(.astro-RJKVWZSG) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    z-index: 10
}

@media (max-width: 770px) {
    header:where(.astro-RJKVWZSG) h1:where(.astro-RJKVWZSG) {
        justify-content: center
    }
}

header:where(.astro-RJKVWZSG) h1:where(.astro-RJKVWZSG) .company-logo:where(.astro-RJKVWZSG) {
    display: inline;
    height: 60px;
    margin-right: 1em
}

header:where(.astro-RJKVWZSG) .header-drops:where(.astro-RJKVWZSG) {
    position: absolute;
    width: 400px;
    top: calc(100% - 1px)
}

header:where(.astro-RJKVWZSG) .header-melt:where(.astro-RJKVWZSG) {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0
}

header:where(.astro-RJKVWZSG) .header-melt:where(.astro-RJKVWZSG) path {
    fill: var(--color-milk)
}

.middle-content:where(.astro-RJKVWZSG) {
    position: relative;
    background-color: var(--color-blue);
    width: 100%;
    z-index: 5;
    filter: drop-shadow(0px 5px 20px black) drop-shadow(-5px 10px 50px black)
}

.middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--text-light);
    text-align: center;
    padding-left: 2em;
    padding-right: 2em
}

@media (max-width: 770px) {
    .middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup {
        font-size: 1.2em
    }
}

.middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup .content:where(.astro-RJKVWZSG) {
    position: relative;
    z-index: 10;
    max-width: 1000px;
    padding-top: 8em;
    padding-bottom: 4em
}

@media (max-width: 770px) {
    .middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup .content:where(.astro-RJKVWZSG) {
        padding-bottom: 0
    }
}

.middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup .content:where(.astro-RJKVWZSG) p:where(.astro-RJKVWZSG) {
    font-weight: 600
}

.middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup .content:where(.astro-RJKVWZSG) a:where(.astro-RJKVWZSG) {
    position: relative
}

.middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup .content:where(.astro-RJKVWZSG) a:where(.astro-RJKVWZSG).sign-up {
    display: inline-block;
    background-color: var(--color-milk);
    color: var(--color-blue-light);
    font-weight: 900;
    border-radius: 20px;
    padding: 1em 2em;
    text-decoration: none;
    filter: drop-shadow(0px 20px 0px var(--color-blue-light));
    margin-bottom: 2em
}

@media (max-width: 770px) {
    .middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup .content:where(.astro-RJKVWZSG) a:where(.astro-RJKVWZSG).sign-up {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
        filter: drop-shadow(2px 5px 1px rgba(0, 0, 0, .062745098))
    }
}

.middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup .content:where(.astro-RJKVWZSG) a:where(.astro-RJKVWZSG) .sign-up-drops:where(.astro-RJKVWZSG) {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 1px)
}

.middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup .content:where(.astro-RJKVWZSG) #new-logo:where(.astro-RJKVWZSG) {
    position: relative;
    width: 200px;
    display: inline-block
}

.middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup .content:where(.astro-RJKVWZSG) #new-logo:where(.astro-RJKVWZSG) #logo:where(.astro-RJKVWZSG) {
    position: relative;
    z-index: 2
}

.middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup .content:where(.astro-RJKVWZSG) #new-logo:where(.astro-RJKVWZSG) #logo:where(.astro-RJKVWZSG) #milky-way-logo #drops,
#wave {
    fill: var(--color-milk)
}

.middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup .content:where(.astro-RJKVWZSG) #new-logo:where(.astro-RJKVWZSG) #logo:where(.astro-RJKVWZSG) #milky-way-logo #background {
    fill: none
}

.middle-content:where(.astro-RJKVWZSG) section:where(.astro-RJKVWZSG)#landing-mockup .content:where(.astro-RJKVWZSG) #new-logo:where(.astro-RJKVWZSG) #logo-background:where(.astro-RJKVWZSG) {
    position: absolute;
    border-radius: 100%;
    aspect-ratio: 1;
    z-index: 1;
    inset: 3%;
    background-image: url(logo-background.png);
    background-size: contain;
    animation-name: space-rotation;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes space-rotation {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

.middle-content:where(.astro-RJKVWZSG) .body-melt:where(.astro-RJKVWZSG) {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0
}

.middle-content:where(.astro-RJKVWZSG) .body-melt:where(.astro-RJKVWZSG) path {
    fill: var(--color-blue)
}

footer:where(.astro-RJKVWZSG) {
    --height-footer: 175px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 4em;
    width: 100%;
    padding-bottom: calc(var(--height-footer) * .25);
    height: var(--height-footer);
    background-image: url(assets/stars_pattern.png), var(--gradient-space);
    background-size: 800px, 100%
}

@media (max-width: 770px) {
    footer:where(.astro-RJKVWZSG) {
        justify-content: flex-start;
        gap: 0;
        height: calc(var(--height-footer) + 40vw)
    }
}

footer:where(.astro-RJKVWZSG) .footer-logo:where(.astro-RJKVWZSG) {
    position: relative;
    height: calc(var(--height-footer) * .5);
    z-index: 10
}

footer:where(.astro-RJKVWZSG) .footer-logo:where(.astro-RJKVWZSG) .linked-in:where(.astro-RJKVWZSG) {
    height: 100%;
    margin-left: 2em;
    margin-right: 2em
}